@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-white antialiased selection:bg-brand-500 selection:text-white overflow-x-hidden;
    /* Deep Cyberpunk Black & Green Animated Background */
    background: linear-gradient(
      -45deg, 
      #000000, 
      #022c22, 
      #064e3b, 
      #020617, 
      #14532d, 
      #000000
    );
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
    min-height: 100vh;
  }
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@layer utilities {
  .glass-panel {
    @apply bg-white/5 backdrop-blur-lg border border-white/10;
  }
}
